<div id="statistics" class="row">
  <div class="col-6 border border-info border-2 rounded">
    <h5>Category distribution</h5>
    <%= pie_chart @category_bmk%>
  </div>
  <div class="col-6 border border-info border-2 rounded">
    <h5>Kind distribution</h5>
    <%= pie_chart @kind_bmk%>
  </div>
</div>